:root 
{
    --c-Purple: #684BB1;
    --c-Pink: #E880E8;
    --c-White:white;

    --f-Headings: "Poppins", sans-serif;
}


body {
    margin: 0;
    background-color: var(--c-Purple);
    background-image: url(../images/bg-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

* :first-child {
    margin-top: 0;
}

* :last-child 
{
    margin-bottom: 0;
}


/* Typography */

body {
    color: var(--c-White);
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
}

#main__title 
{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--f-Headings);
}


#btn 
{
    font-family: var(--f-Headings);
}

@media (min-width:1000px)
{
    html {
        font-size: 18px;
    }

    #main__title 
    {
        font-size: 3.3rem;
    }
}